.container{
    
}
.title{
    font-size: 25px;
    text-align: center;
    color: dodgerblue;
    font-family: 'Courier New', Courier, monospace;
}

.subtitle{
    font-size: 20px;
    text-align: center;
    color: dodgerblue;
    font-family: 'Courier New', Courier, monospace;
}

button {
    display: block;
    margin: 30px;
    background-color: dodgerblue;
    color: floralwhite;
    border: 0;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
}

#btnprods {
    display: block;
    margin: 30px;
    background-color: dodgerblue;
    color: floralwhite;
    border: 0;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
    text-align: center;
}

.paginate{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginate div{
    cursor: pointer;
    width: 50px;
    height: 40px;
    font-size: 18px;
}