#tbProds {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tbProds td, #tbProds th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tbProds tr:nth-child(even){background-color: #f2f2f2;}

#tbProds tr:hover {background-color: #ddd;}

#tbProds th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: dodgerblue;
    color: white;
}


.imgUpdate{
    width: 26px;
    height: 26px;
}

.popUpWrapper{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}

.popUp{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width: 100%;
    max-width: 600px;
    margin: 10% auto;
    padding: 20px;
    background: floralwhite;
    position: relative;
    border-radius: 8px;
}

input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

.popUpClose{
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
}

.codigo{
    margin-bottom: 10px;
}

#btnAlterar{
    color: floralwhite;
    cursor: pointer;
    width: 50px;
    padding: 6px 13px;
    border-radius: 4px;
    background: dodgerblue;
    text-decoration: none;

}

.searchArea{
    display: flex;
    height: 50px;
    padding: 10px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#searchIcon{
    width: 15px;
    height: 15px;
}


#searchAction{
    margin-top: 0px;
    margin-left: 20px;
}